*{ 
	margin: 0;
	padding: 0;
	border: 0;
	border-collapse: collapse;
}

body {
background:url(images/bg.jpg) no-repeat top;
width: 100%;
	overflow-x: hidden;
}



img {
opacity: 0;
}



































